extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main 
  div #{chats}
  +alert-success(2000)
  .container.my-3
    .row
      .col-12
        +box-head("Chat")
    .row  
      .col-12 
        .chat(my-id=user.id)
          .inner-body 
            each chat in chats
              div(class=(chat.infoUser.id == user.id ? "inner-outgoing" : "inner-incoming"))
                .inner-name #{chat.infoUser.fullName}
                .inner-content
                  | #{chat.content}
              //- .inner-outgoing
              //-   .inner-content
              //-     | Thế à? Ok e iu
              //- .inner-incoming
              //-   .inner-name #{chat.infoUser.fullName}
              //-   .inner-content
              //-     | #{chat.content}
              //- .inner-outgoing
              //-   .inner-content
              //-     | Ck đến rồi mà thấy ai ở nhà đâu e? Khóa cửa mà :(
              //- .inner-incoming
              //-   .inner-name Em Yêu
              //-   .inner-content
              //-     | Thì em bảo nhà e không ai ở nhà mà :v
          .inner-foot 
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              span(class="button-icon") 
                i.fa-solid.fa-face-smile
              button 
                i.fa-solid.fa-paper-plane
  div(class="tooltip light" role="tooltip")
    emoji-picker(class="light")
